name: PROMOTION

on:
  push:
    branches: 
      - master

jobs:
  promotion:
    name: 'CREATE PULL REQUEST'
    runs-on: ubuntu-latest
    steps:
      - name: GET REPOSITORY
        uses: actions/checkout@v2
        with:
          ref: main
      - name: RESET PROMOTION BRANCH
        run: |
          git fetch origin master:master
          git reset --hard master
      - name: GENERATE PULL REQUEST
        uses: peter-evans/create-pull-request@v3
        with:
          branch: main-promotion
          token: ${{ secrets.GH_TOKEN }}